/**
* Upgred To Pro
*/
.control-section-bloger-pro{
 display: block !important;
}
#customize-theme-controls .control-section-bloger-pro h3.accordion-section-title {
   background: #0073aa !important;
   color: #FFF !important;
   border: 0;
}
.control-section-bloger-pro .accordion-section-title .button {
   margin-top: -4px;
   margin-left: 8px;
   border: none;
   color: #fff;
   background: #28c503;
   box-shadow: none;
}